{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

<section id="controller_area">
	<ul class="home_location row topcitylist">
		<li class="col-md-12 col-sm-12">
			{% for item in region_name %}
			<span class="location_country">Cityxguide {{ item.name }}</span>
			{% endfor %}
			<ul class="homeCity">
				{% for city in cities %}
				<li class="home_city"><a href="{{ city.id }}/">{{ city.name }}</a></li>
				{% endfor %}
			</ul>
		</li>
	</ul>
	<div class="clear"></div>
</section>

{% endblock %}
