{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

	<section id="controller_area">
		<ul class="row home_location">

			<li class="col-md-12 col-sm-12">
				<span class="location_country">United States</span>
				<ul class="row homeRegions">
					{% for region in us_region %}
					<li class="col-md-3 col-sm-4 home_regions"><a href="{{ region.country.slug }}/{{ region.id }}" class="thestate">{{ region.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<div class="clear"></div>

			<li class="col-md-12 col-sm-12">
				<a href="38/"><span class="location_country">Canada</span>
				<ul class="row homeRegions">
					{% for region in canada_region %}
					<li class="col-md-3 col-sm-4 home_regions"><a href="{{ region.country.slug }}/{{ region.id }}" class="thestate">{{ region.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<div class="clear"></div>

			<li class="col-md-12 col-sm-12">
				<span class="location_country">United Kingdom</span>
				<ul class="row homeRegions">
					{% for region in uk_region %}
					<li class="col-md-3 col-sm-4 home_regions"><a href="{{ region.country.slug }}/{{ region.id }}" class="thestate">{{ region.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<div class="clear"></div>

			<li class="col-md-12 col-sm-12">
				<span class="location_country">Australia & Oceania</span>
				<ul class="row homeRegions">
					{% for country in australia_country %}
					<li class="col-md-3 col-sm-4 home_regions"><a href="{{ country.id }}" class="thestate">{{ country.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<div class="clear"></div>

			<li class="col-md-12 col-sm-12">
				<span class="location_country">Africa</span>
				<ul class="row homeRegions">
					{% for country in africa_country %}
					<li class="col-md-3 col-sm-4 home_regions"><a href="{{ country.id }}" class="thestate">{{ country.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<div class="clear"></div>

			<li class="col-md-12 col-sm-12">
				<span class="location_country">Asia & Pacific</span>
				<ul class="row homeRegions">
					{% for country in asia_country %}
					<li class="col-md-3 col-sm-4 home_regions"><a href="{{ country.id }}" class="thestate">{{ country.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<div class="clear"></div>

			<li class="col-md-12 col-sm-12">
				<span class="location_country">Middle East</span>
				<ul class="row homeRegions">
					{% for country in middle_country %}
					<li class="col-md-3 col-sm-4 home_regions"><a href="{{ country.id }}" class="thestate">{{ country.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<div class="clear"></div>

			<li class="col-md-12 col-sm-12">
				<span class="location_country">Europe</span>
				<ul class="row homeRegions">
					{% for country in europe_country %}
					<li class="col-md-3 col-sm-4 home_regions"><a href="{{ country.id }}" class="thestate">{{ country.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<div class="clear"></div>

			<li class="col-md-12 col-sm-12">
				<span class="location_country">Latin America & Caribbean</span>
				<ul class="row homeRegions">
					{% for country in latin_country %}
					<li class="col-md-3 col-sm-4 home_regions"><a href="{{ country.id }}" class="thestate">{{ country.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<div class="clear"></div>

		</ul>
	</section>

{% endblock %}
